%h2= t('.title')
%table.table
	= render(cart.line_items)
	%tr
		%td{colspan:"2"}
			Total
		%td 
			= number_to_currency(cart.total_price)

.col-sm-6
	= button_to t('.checkout'), new_order_path, method: :get, class: "btn btn-primary"
.col-sm-6
	= button_to t('.empty'), cart, method: :delete, data: { confirm: t('.confirm') }, class: "btn btn-primary"