- if notice
  %p#notice= notice
%h1= t('.title')
- cache ['store', Product.latest] do
  - @products.each do |product|
    - cache ['entry', product] do
      .row
        .col-sm-4
          = image_tag(product.image_url,class: "img-responsive")
        .col-sm-8
          %h3= product.title
          = sanitize(product.description)
      .row
        .col-sm-2.col-sm-offset-4
          %strong
            %h4
              = number_to_currency(product.price)
        .col-sm-6
          = button_to t('.add_html'), line_items_path(product_id: product),remote: true, class: "btn btn-primary pull-right"
